@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

h1{
    font-family: Nunito;
    color: white
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1E555C;
    margin: 0;
}

a{
    padding: 10px;
    width: 20vw;
    text-align: center;
    background: #8797B2;
    border-radius: 15px;
    text-decoration: none;
    font-family: Nunito;
    color: white;
    margin: 16px;
}

a:hover{
    background: #A7A5C6;
}

.buttons{
    margin-top: 12px;
    padding: 30px;
    border: solid #8797B2;
    display: flex;
    flex-direction: column;
    align-items: center;
}